.page {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wapper {
    width: 50%;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header .button-header {
    background-color: rgb(104, 131, 205);
    color: white;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
}

.main {
    width: 100%;
    text-align: center;
}

.main .d1 {
    text-transform: capitalize;
    font-size: 24px;
    margin: 10px 0 0 0;
}

.main .d2 {
    font-size: 12px;
}

.footer {
    width: 100%;
}

.footer ul {
    display: flex;
    justify-content: center;
    
}

.footer ul li {
    list-style-type: none;
    background-color: rgb(55, 52, 52);
    color: white;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}