.page {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wapper {
    width: 800px;
}

.wapper-header{
    display:flex;
    justify-content:center;
    margin-bottom: 50px;
}

.header p {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 0 0 5px 0;
}

.soild {
    width: 50px;
    border: 2px solid rgb(24, 134, 185);
    margin-left: 80px;
}

.wapper{
    background-color: #f7f7f7;
}

.content{
    width: 250px;
    height: 150px;
    margin-left: 10px;
    float:left;
}

.icon{
    float:left;
    width: 40px;
    height: 40px;
    background-color: #33FF66;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon p{
    margin: 0;
    color: white;
}

.text{
    float:left;
    width: 190px;
    font-size:12px;
}

.text p{
    margin: 0 0 0 10px;
    color: #999;
    font-style: italic;
}

.text .text-name{
    color: #666666;
}

@media only screen and (max-width: 800px) {
    .content{
        width: 48%;
    }
}

@media only screen and (max-width: 540px) {
    .content{
        width: 100%;
        margin: 0;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}