.container {
    width: 50%;
    height: 500px;
}

.wapper {
    width: 100%;
}

.wapper-input {
    width: 100%;
    height: 50px;
}

.wapper-input .name {
    float: left;
    width: 50%;
}

.wapper-input .email {
    float: left;
    width: 50%;
}

.wapper-input .name input {
    padding: 10px 0 10px 0;
    width: 90%;
}

.wapper-input .email input {
    padding: 10px 0 10px 0;
    width: 90%;
    margin-left: 10%;
}

.subject {
    float: left;
    width: 100%;
    height: 50px;
}

.subject input {
    padding: 10px 0 10px 0;
    width: 100%;
}

.text-message {
    width: 100%;
    float: left;
    height: 200px;
}

.text-message textarea {
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    height: 100px;
    float: left;
    margin-top: 20px;
    display: flex;
    align-items: start
}

.submit-message input {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(0, 166, 255);
    color: white;
    border: none;
    cursor: pointer;
}

.submit-message {
    width: 60%;
}

.text-please {
    width: 40%;
}

.text-please p {
    color:#999;
    margin-left: 100px;
}

@media only screen and (max-width:1024px) {
    .text-please p {
        margin: 0;
    }
}

@media only screen and (max-width:480px) {
    .footer {
        display: block;
    }
}