.page {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 850px;
}

.wapper-top {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 50px;
}

.wapper-top .content {
    width: 500px;
    margin-right: 50px;
}

.wapper-bottom .content {
    width: 500px;
    margin-left: 50px;
}

.wapper-top .content input {
    border: none;
    color: white;
    background-color: rgb(57, 152, 216);
    border-radius: 15px;
    padding: 10px;
}

.wapper-bottom .content input {
    border: none;
    color: white;
    background-color: rgb(107, 216, 57);
    border-radius: 15px;
    padding: 10px;
}

@media only screen and (min-width:1024px) {
    .wapper-top {
        display: flex;
        justify-content: center;
    }

    .wapper-bottom {
        display: flex;
        justify-content: center;
    }
}