.page{
    width: 100%;
    display:flex;
    justify-content:center;
}

.wapper{
    width: 720px;
}

.comment{
    padding: 10px;
    background-color: #f7f7f7;
    margin-bottom: 10px;
}

.wapper-comment{
    height: 120px;
}

.name-comment{
    height: 50px;
    width: 90%;
    float:left;
}

.name-comment .doc-1{
    font-weight: bold;
}

.name-comment .doc-2{
    font-size: 14px;
}

.name-comment span{
    color: rgb(113, 194, 0);
}

.comment-icon{
    height:50px;
    width: 10%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.icon{
    padding: 5px;
    border: 1px solid #DDDDDD;
}

.wapper .doc{
    font-size: 24px; 
    text-transform: uppercase;
}

.header-comment{
    height: 80px;
}

.comment-text{
     width: 600px;
     height: 75px   ;
}

.text-comment P{
    margin: 0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size:16px;
    font-weight: 600;
}

@media only screen and (max-width: 540px) {
    .comment{
        height: 150px;
    }

    .wapper{
        margin: 10px;
    }
}

@media only screen and (max-width: 400px) {
    .comment{
        height: 200px;
    }
}

@media only screen and (max-width: 240px) {
    .comment{
        height: 300px;
    }
}

