.page {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
}

.wapper {
    width: 600px;
    height: 300px;
    background-color: rgb(245, 246, 242);
}

h1,
p {
    text-align: center;
}

.email,
.invite {
    display: flex;
    justify-content: center;
}

.email {
    margin: 10px;
}

.email input {
    padding: 10px 60px 10px 10px;
    border: none;
}

.invite input {
    background-color: rgb(35, 220, 220);
    border: none;
    border-radius: 5px;
    height: 40px;
    color: white;
    cursor: pointer;
    padding: 0 20px 0 20px;
}

.wapper i {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}