.page {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 850px;
}

.wapper-top {
    border-bottom: 1px solid #dddddd;
    margin-bottom: 30px;
}

.wapper-top .content {
    width: 500px;
}

.wapper-bottom .content {
    width: 500px;
}

.content h2, p{
    color: #999;
}

.wapper-top .content input {
    border: none;
    color: white;
    background-color: rgb(57, 152, 216);
    border-radius: 15px;
    padding: 10px;
}

.wapper-bottom .content input {
    border: none;
    color: white;
    background-color: rgb(107, 216, 57);
    border-radius: 15px;
    padding: 10px;
}

@media only screen and (min-width:1024px) {
    .wapper-top {
        display: flex;
        justify-content: center;
    }

    .wapper-bottom {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 1024px) {
    .container{
        width: 100%;
        margin: 10px;
    }

    .wapper-top .content{
        margin-left: 0;
    }

    .content-img{
        margin-bottom: 20px;
    }

    .wapper-bottom{
        display: flex;
        flex-direction: column-reverse;
    }

}
