.page {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wapper {
    width: 80%;
}

.block {
    background-color: #f7f7f7;
    width: 350px;
    height: 250px;
    margin: 20px;
    float: left;
}

.block img {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-top: 10%;
}

.block h2,
p {
    text-align: center;
}

.block p {
    color: #999;
}